html {
  height: 100%;
}

* {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 95%;
}

div {
  font-family: sans-serif;
}

.head {
  font-size: x-large;
  display: flex;
  flex-direction: column;
}

.counts {
  display: flex;
  flex-direction: row;
}

.notes {
  font-size: small;
  color: gray;
}

a {
  color: gray;
}

path {
  stroke: grey;
  fill: none;
  stroke-width: 3;
  opacity: 0.8;
}

.count {
  font-size: xx-large;
  padding: 20px;
}

#svg {
  flex: 1;
}

#pro {
  stroke: lightpink;
}

#anti {
  stroke: lightblue;
}
